<html>

    <head>
        <title>Ogrenciler Sayfasi</title>
    </head>

    <body>
    
        <h1>Ogrenciler</h1>
        <#list OGRENCI_LST as OGRENCI>
            ${OGRENCI_index+1} -) ${OGRENCI} 
            <a href="/ornek2/ogrenci/sil?id=${OGRENCI_index}">sil</a>
            <br>
        </#list>
        
        <h1>Ogretmenler</h1>
        <#list OGRETMEN_LST as OGRETMEN>
            ${OGRETMEN_index+1} -) ${OGRETMEN}
            <a href="/ornek2/ogretmen/sil?id=${OGRETMEN_index}">sil</a>
            <br>
        </#list>
        
        <h1>OGRENCI EKLE</h1>
        <form action="/ornek2/ogrenci/ekle" method="POST">
            <input type="text" name="ogrenci_ad" />
            <input type="submit" value="EKLE">
        </form>
        
        <h1>OGRETMEN EKLE</h1>
        <form action="/ornek2/ogretmen/ekle" method="POST">
            <input type="text" name="ogretmen_ad" />
            <input type="submit" value="EKLE">
        </form>
        
    </body>
    
</html>